.card.bg-light.text-dark.abc{
    width: 90%;
    height: 90%;

    margin-top: 10%;
    margin-left: 5%;
}

.text-center.font-weight-bold{
    color: #242487;
    margin-bottom: 15%;
}
.img-fluid.z{
    height: 28%;
    width: 16%;
    margin-top: 15%;
    margin-left: 42%;
    margin-bottom: 3%;
}